version: "2.1"

volumes:
  couchdb_data:
  couchdb_conf:
  redis_data:

services:

  couchdb:
    container_name: brigidde_couchdb
    image: couchdb:2
    volumes:
      - couchdb_data:/opt/couchdb/data
      - couchdb_conf:/opt/couchdb/etc
    environment:
      COUCHDB_USER: ${APP_COUCHDB_USER}
      COUCHDB_PASSWORD: ${APP_COUCHDB_PASSWORD}
    ports:
      - 5984:5984

  redis:
    container_name: brigidde_redis
    image: redis:4-alpine
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379
    command: redis-server --requirepass ${APP_REDIS_PASSWORD}

  server:
    container_name: brigidde_server
    extends:
      service: node
    depends_on:
      - couchdb
      - redis
    volumes:
      - ./client/dist:/public
    working_dir: /project/server
    command: yarn watch
    ports:
      - 3000:3000
    tty: true
    stdin_open: true

  client:
    container_name: brigidde_client
    extends:
      service: node
    depends_on:
      - server
    working_dir: /project/client
    ports:
      - 9000:9000
    command: yarn dev
    tty: true
    stdin_open: true

  node:
    image: simbo/node:8-alpine
    volumes:
      - .:/project
    working_dir: /project
    command: sh -l
