version: "2.1"

services:

  app:
    container_name: brigidde_app
    image: simbo/node:8-alpine
    volumes:
      - .:/project
    working_dir: /project
    ports:
      - 3000:3000
    command: yarn start
