version: "2.1"

volumes:
  couchdb_data:
  couchdb_conf:
  redis_data:
  client_dist:

services:

  couchdb:
    container_name: brigidde_couch
    image: couchdb:2
    volumes:
      - couchdb_data:/opt/couchdb/data
      - couchdb_conf:/opt/couchdb/etc
    environment:
      COUCHDB_USER: ${APP_COUCHDB_USER}
      COUCHDB_PASSWORD: ${APP_COUCHDB_PASSWORD}
    ports:
      - 5984:5984

  redis:
    container_name: brigidde_redis
    image: redis:4-alpine
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379
    command: redis-server --requirepass ${APP_REDIS_PASSWORD}

  app:
    container_name: brigidde_app
    image: simbo/node:8-alpine
    volumes:
      - client_dist:/public
      - .:/project
    working_dir: /project
    ports:
      - 3000:3000
    command: yarn start
