/**
 * Colors
 */

/**
 * Color Name Finder:
 * http://chir.ag/projects/name-that-color/
 */

$colorValues = {
  white:            #fff,
  black:            #000,
  stack:            #979897,
  lochmara:         #0078cf,
  magenta:          #ff00ff,
  cyan:             #00ffff
}

$colorUseCases = {
  text:             $colorValues.white,
  textSecondary:    $colorValues.stack,
  textBg:           $colorValues.black,
  statusBarBg:      $colorValues.lochmara,
  statusBarText:    $colorValues.white,
  terminalWhite:    $colorValues.white,
  terminalMagenta:  $colorValues.magenta,
  terminalCyan:     $colorValues.cyan
}

$colors = merge($colorValues, $colorUseCases);
