@require 'global-vars'
@require './terminal.component.vars'

.terminal
  font-family: $fontFamily.monospace
  padding-top: $terminal.window.padding.y

  &__message-list
    padding: 0 $terminal.window.padding.x
