@require 'global-vars'

$terminal = {
  window: {
    padding: {
      x: .5rem,
      y: .5rem
    }
  },
  lineHeight: $lineHeight.large,
  textColors: {
    input: $colors.terminalWhite,
    inputPrompt: $colors.terminalMagenta
  }
  message: {
    spacing: .05rem
  },
  prompt: {
    spacing: .4em,
    content: '❯'
  }
}
