.terminal

  terminal-screen

    .terminal__content

      terminal-message(
        *ngFor = "let message of messageLog",
        [message] = "message"
      )

      terminal-input((message) = "onMessageInput($event)")

  terminal-status-bar
