@require 'global-vars'
@require './terminal.vars'

.terminal
  position: relative
  width: 100vw
  height: 100vh

  &__content
    font-family: $fontFamily.monospace
    padding: $terminal.content.padding.y $terminal.content.padding.x
