.terminal

  terminal-screen

    .terminal__content

      terminal-message(
        *ngFor = "let message of messageLog",
        [message] = "message"
      )

      terminal-input(
        *ngIf = "!inputBlocked",
        (message) = "onMessageInput($event)"
      )

  terminal-status-bar
