@require './../terminal.component.vars'

:host
  display: block

  &:not(:first-child)
    margin-bottom: $terminal.message.spacing

.terminal-message

  &__body
    position: relative
    line-height: $terminal.lineHeight
    min-height: unit($terminal.lineHeight, 'em')

    // ::ng-deep

      // generated content styles
