@require './../terminal.vars'

:host
  display: block

  &:not(:first-child)
    margin-bottom: $terminal.message.spacing

.terminal-message

  &.from-user
    color: $terminal.textColors.userMessage

  &__body
    position: relative
    line-height: $terminal.lineHeight
    min-height: unit($terminal.lineHeight, 'em')

    .terminal-message.is-command > &
      color: $terminal.textColors.userCommand

  &__prompt
    display: inline-block
    padding-right: $terminal.prompt.spacing

    &:empty::before
      content: $terminal.prompt.content
      color: $terminal.textColors.userMessagePrompt
