@require './../terminal.vars'

:host
  display: block

  &:not(:first-child)
    margin-bottom: $terminal.message.spacing

.terminal-message

  &.from-user
    color: $terminal.textColors.message

  &__body
    position: relative
    line-height: $terminal.lineHeight
    min-height: unit($terminal.lineHeight, 'em')
    white-space: pre-wrap

    .terminal-message.is-command > &
      color: $terminal.textColors.command

    ::ng-deep

      .text--command
        color: $terminal.textColors.command

      .text--secondary
        color: $terminal.textColors.secondary

  &__prompt
    display: inline-block
    padding-right: $terminal.prompt.spacing

    &:empty::before
      content: $terminal.prompt.content
      color: $terminal.textColors.messagePrompt
