.terminal-message(
  [ngClass] = "classNames",
  [ngSwitch] = "message.from"
)
  ng-container(*ngSwitchCase = "'user'")

    .terminal-message__body
      .terminal-message__prompt {{ message.prompt }}
      | {{ message.body }}

  ng-container(*ngSwitchCaseDefault = "")

    .terminal-message__body([innerHTML] = "message.body")
