@require 'global-vars'
@require './../terminal.vars'

.terminal-input
  position: relative

  &__prompt
    position: absolute
    top: 0
    left: 0
    padding-right: $terminal.prompt.spacing
    pointer-events: none
    line-height: $terminal.lineHeight
    white-space: nowrap

    &:empty::before
      content: $terminal.prompt.content
      color: $terminal.textColors.inputPrompt

  &__textarea
    display: block
    width: 100%
    height: unit($terminal.lineHeight, 'rem')
    padding: 0
    border-radius: 0
    border: none
    background: transparent
    font-size: 1rem
    font-family: $fontFamily.monospace
    line-height: $terminal.lineHeight
    text-indent: 1em
    color: $terminal.textColors.input
    resize: none

    .terminal-input.is-command > &
      color: $terminal.textColors.inputCommand

    &:focus
      outline: none
